.menu {
  
}

.logo{
    width: 40px;
    height: 40px
}

.Left{
    display: inline-block;
    width: 40%;
   
}

.Right{
    display: inline-block;
    width: 40%;
    
}

.container{
    background-color: pink;
}

.footer{
    background-color: aqua;
}

.ourphoto{

    Width:500px;
    height:200px;
}